{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "stylesheet" href = "{% static 'stori.css' %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-white naav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link nav-text" href="{% url 'home:index' %}">story 1</a>
            <a class="nav-link nav-text" href="{% url 'tambahan:stori' %}#aboutme">about</a>
            <a class="nav-link nav-text" href="{% url 'tambahan:stori' %}#sekolah">education</a>
            <a class="nav-link nav-text" href="{% url 'tambahan:stori' %}#pengalaman">experience</a>
            <a class="nav-link nav-text" href="{% url 'tambahan:stori2' %}">gallery</a>
          </div>
        </div>
      </nav>
</head>

<body>
  {% block content %}
  {% endblock %}
    
</body>

<footer>
    <div id="sosmed">
        <div class="container sosmed">
        <div class="row justify-content-center sekolah" >
          <div class="col-sosmed">
            <a href="https://twitter.com/ammar_syarif"  target="_blank"><img class="foto-sosmed" src="{% static 'twitter.png' %}"></a>
            <a href="https://www.linkedin.com/in/ammar-faridzki-syarif-460a951a0/"  target="_blank"><img class="foto-sosmed" src="{% static 'linkedin.png' %}"></a>
            <a href="https://instagram.com/syarifammarr" target="_blank"><img class="foto-sosmed" src="{% static 'instagram.png' %}"></a>
            <a href="https://api.whatsapp.com/send?phone=87885350602&text=Halo%20Ammar!" target="_blank"><img class="foto-sosmed" src="{% static 'whatsapp.png' %}"></a>
          </div>
         
        </div>
      </div>
      </div>
</footer>