
{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/style.css' %}">


    <table class="navigator">
        <tr>
            <th><label  class="judulNav" id="tentangGua">tentang gua</label></th>
            <th><label  class="judulNav" id="kenalLebihDekat">kenal lebih dekat</label></th>
        </tr>
    </table>
    <div class="row">
        <div class="column">
            <img src="{% static 'home/1.png' %}" id="ammar">
        </div>
        <div class="column">
            <h1>nama gua <label class="nama">Ammar</label></h1>
            <p id ="tentang">Halo semua! Kenalin nama gua <label class="nama">Ammar Faridzki Syarif</label> (NPM 1906353712), dan lo bisa panggil gua Ammar.
               Gua adalah salah satu bagian dari keluarga Maung, yaitu angkatan 2019-nya Fakultas Ilmu Komputer
               Universitas Indonesia. 
            </p>
            <p id ="deskripsi">Kalo lo udah kenal gua, pasti lo udah tau betapa tertariknya gua dengan olahraga.
               Gua hobi banget main futsal dan sepak bola! Bahkan selama kuliah, kayanya gua lebih sering ngabisin waktu 
               gua buat olahraga dibanding buat ngoding depan laptop HAHAHA. Selain olahraga, gua juga suka banget
               ngabisin waktu bareng temen-temen. Mungkin karena itulah, gua sendiri merasa bahwa gua adalah pribadi
               yang memiliki jiwa sosial yang tinggi. Oke! Karena lo udah kenal gua, gua pengen ngucapin selamat
               datang di website ini! Selamat men-<i>stalk</i> !
            </p>
        </div>
    </div>
    <div>
        <div class="juds">
        <label class ="judulNav">riwayat pendidikan</label></div>
        <table>
            <tr>
                <th> <img src="{% static 'home/1.png' %}" ></th>
                <th> <img src="{% static 'home/3.png' %}"></th>
                <th> <img src="{% static 'home/2.png' %}" id="fasilkom"></th>
            </tr>    
            <tr>
                <th><label class="namaSekolah">tk-sd-smp al-fath</label></th>
                <th><label class="namaSekolah">sman 82 jakarta</label>
                <th><label class="namaSekolah">fakultas ilmu komputer ui</label></th>
            </tr>
        </table>
    </div>
    <div class="futer">
    <div class="footer">
        <tr>
            <th><a href="https://www.linkedin.com/in/ammar-faridzki-syarif-460a951a0/"  target="_blank"><img src="{% static 'home\linkedin.png' %}" class="sosmed"></a></th>
            <th><a href="https://twitter.com/ammar_syarif"  target="_blank"><img src="{% static 'home\twitter.png' %}" class="sosmed"></a></th>
            <th><a href="https://instagram.com/syarifammarr" target="_blank"><img src="{% static 'home\instagram.png' %}" class="sosmed"></a></th>
            <th><a href="https://api.whatsapp.com/send?phone=87885350602&text=Halo%20Ammar!" target="_blank"><img src="{% static 'home\whatsapp.png' %}" class="sosmed"></a></th>
        </tr>   
    </div>
</div>
{% endblock %}