{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="jumbotron bekgron">
    <h1>welcome</h1>
  </div>

  <div id="aboutme">
    <div class="container">
      <div class="row">
        <div class="col-sm foto-gue">
          <img src = "{% static 'ammarasli.png' %}">
        </div>
        <div class="col-sm col-about-text">
          <span class = "about-me">about me <br></span>
          <span id = "about-me-text">halo semua! kenalin nama gue Ammar Faridzki Syarif, dan lo bisa panggil gue Ammar. gue adalah salah satu bagian dari keluarga Maung, yaitu angkatan 2019-nya Fakultas Ilmu Komputer Universitas Indonesia.
            gue suka banget olahraga, terutama futsal. karena itulah, gue milih beberapa kepanitiaan dan organisasi yang bergerak di bidang olahraga.
          </span>
        </div>
      </div>
    </div>
  </div>

  <div id="sekolah">
    <div class="container div-sekolah">
      <div class="container edu-bg">  
        <h1>educational background</h1>
      </div>
      <div class="row sekolah">
        <div class="col-sm">
          <img class="foto" src="{% static 'Group4.png' %}"> 
          <div class="nama-sekolah">smp alfath</div> 
        </div>
        <div class="col-sm">
          <img class="foto" src="{% static 'Group3.png' %}">
          <div class="nama-sekolah">sman 82</div> 
        </div>
        <div class="col-sm">
          <img class="foto" src="{% static 'Group2.png' %}">
          <div class="nama-sekolah">fasilkom ui</div> 
        </div>
      </div>
    </div>
  </div>

  <div id="pengalaman">
    <div class="container">
      <div class="container div-sekolah"> 
        <div class="container edu-bg">  
          <h1>fasilkom experiences</h1>
        </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm bg-pengalaman">
                <img class="foto-exp" src="{% static 'Grouop10.png' %}" alt="Third slide">
              </div>
              <div class="col-sm col-about-text">
                <span class = "pengalaman"> depor fasilkom<br></span>
                <span class = "pengalaman-text">gue adalah salah satu staff dari departemen olahraga bem fasilkom ui atau yang biasa disebut depor. menurut gue, depor itu cocok banget sama gue, karena selain bisa nambah pengalaman, gue juga ngejalanin dengan perasaan senang.
              </div>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm bg-pengalaman" >
                <img class=" foto-exp" src="{% static 'Grouop12.png' %}" alt="Third slide">
              </div>
              <div class="col-sm col-about-text">
                <span class = "pengalaman" >compfest 12<br></span>
                <span class = "pengalaman-text">di compfest, gue jadi staff playground, yaitu salah satu divisi di event. di divisi ini, tugas gue adalah mengapproach perusahaan untuk menjadi exhibitor di playground compfest. menurut gue, compfest bener-bener mengasah skill komunikasi gue.
                </span>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-sm bg-pengalaman">
                <img class=" foto-exp" src="{% static 'Grouop11.png' %}" alt="Third slide">
              </div>
              <div class="col-sm col-about-text">
                <span class = "pengalaman">perak fasilkom<br></span>
                <span class = "pengalaman-text">menurut gue, perak adalah salah satu wadah terbaik untuk melepas penat di fasilkom. maka dari itu, gue memutuskan untuk menjadi salah satu bagian dari acara ini. divisi gue adalah futsal runner, dengan pic super ganteng yaitu fajar anugerah.  
                </span>
              </div>
            </div>
          </div>
          
        </div>
        <a class="carousel-control-prev"  href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next"  href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}