{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="jumbotron bekgron">
        <h1>gallery</h1>
    </div>
    <div class="container foto-gallery">
        <div class="row sekolah">
          <div class="col-sm">
            <img class="img-fluid foto-foto" src="{% static 'ammar139535.jpg' %}"> 
          </div>
          <div class="col-sm">
            <img class="img-fluid foto-foto" src="{% static 'S__46915601.jpg' %}">
          </div>
          
        </div>
        
    </div>
    <div class="container foto-gallery">
        <div class="row sekolah">
          <div class="col-sm">
            <img class="img-fluid foto-foto" src="{% static 'yey_200302_0012.jpg' %}"> 
          </div>
          <div class="col-sm">
            <img class="img-fluid foto-foto" src="{% static 'samlaikum olim_191108_0002.jpg' %}">
          </div>
          
        </div>
        
    </div>
    <div class="container foto-gallery">
        <div class="row sekolah">
          <div class="col-sm">
            <img class="img-fluid foto-foto" src="{% static 'ammar139533.jpg' %}"> 
          </div>
          <div class="col-sm">
            <img class="img-fluid foto-foto" src="{% static 'faridzki276702.jpg' %}">
          </div>
          
        </div>
        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}