body {
    font-family: "Helvetica Neue";
    color: #153243;
}

.bekgron h1{
    font-size: 120px;
    margin: 100px auto auto 100px;
    color: white;
}

.naav {
    font-family: 'Helvetica Neue';
    font-size: 35px;
}

.nav-text {
    margin: auto 10px;
}

.bekgron {
    background-color: #A4B8C4;
    height : 87%;
}

.container-bg {
    
}

.foto-gue {
    margin: 40px auto;
    
    background-color: #6E8387;
    border-radius: 50px;
    text-align: center;
}

.bg-pengalaman {
    
    border-radius: 50px;
    text-align: center;
    
    margin : auto;
}

.pengalaman {
    font-size: 70px;
}



.pengalaman-text {
    font-size: 20px;
    padding-right: 10px;
}

.col-about-text {
    margin-left: 50px;
    margin-top : 20px;
}

.foto {
    max-width: 250px;
}

.sekolah {
    text-align: center;
}

.div-sekolah {
    margin: 20px auto;
}

.div-sekolah h1 {
    text-align: center;
    
    font-size: 45px;
    
    color: white;
}

.edu-bg {
    background-color: #6E8387;
    width: 620px;
    border-radius: 80px;
    padding: 5px;
    margin: 60px auto;
}

.nama-sekolah {
    text-align: center;
    margin: 20px auto 40px auto;
    font-size: 40px;
    
}

.foto-exp {
    /* padding-left: 200px; */
}

.pengalaman {
    text-align: center;
}

.about-me {
    font-size: 100px;
}

.foto-exp {
    max-width: 300px;
    
}

.foto-gallery {
    margin: 50px auto;
}

.foto-foto {
    border-radius: 20px;
}

.foto-sosmed {
    max-width: 40px;
    margin: 10px 15px 20px 15px;
    
}

.col-sosmed {
    padding: 10px 5px;
}

.sosmed {
    text-align: center;
}

#about-me-text {
    font-size: 25px;
}
