body {
    margin-top: 50px;
    padding: 0 80px ;
    font-family: "Helvetica Neue";
    color: #EFD09E;
    background-color: #272727;
}

h1 {
    color: #D4AA7D;
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 30;
}

p {
    font-size: 20px;
    width : 865px;
    text-align: justify;
}

table {
    margin: 30 auto 0 auto;
    text-align: center;
    font-size: 25px; 
    font-weight: bold;
}

th {
    width: 50px;   
    padding: 10px 0px;
}

th img {
    height: 200px;
    padding: 10px 70px; 
}

.navigator {
    width: 650px;
    margin: auto;
}
.row {
    display : flex;
}

.column {
    flex : 50%;
}

.judul {
    background-color: white;
    color: #272727;
    font-size: 25px;
    border-radius: 40px;
    padding: 10px 60px;  
    text-align: center;
}

#tentangGua {
    background-color: #D2D8B3;
}

#kenalLebihDekat {
    background-color: #90A9B7;
}

.judulNav {
    background-color: white;
    color: #272727;
    font-size: 25px;
    border-radius: 40px;
    padding: 5px 40px;  
    text-align: center;
}

.footer {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 0px ;
    height: 50px;
    text-align: center;
}

.sosmed {
    height: 40px;
    padding: 20px 10px;
}

.namaSekolah {
    background-color:white;
    color: #272727;
    font-size: 20px;
    border-radius: 40px;
    padding: 10px 20px;  
    text-align: center;
}

.juds {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.nama {
    color: white;
}

#ammar {
    height: 100%;
    float: right;
    margin-right: 20px;
}

#tentang {
    margin-top: 0;
}

#judulRiwayat {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}